<nav>
  <h1>Sid Rao</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://users.aalto.fi/~raos1/Aalto_sid_pic.png" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="http://users.aalto.fi/~raos1/Aalto_sid_pic.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Security and Crypto lover, Open Source Enthusiast, Traveller, Foodie</p>
    <p>
     Blog about various aspects of security and privacy in modern Internet world.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
