<nav>
  <h1>Digital Democracy</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="https://www.dropbox.com/s/2wvuu5bshwmypns/Blog_sid_pic.jpg?dl=0" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="https://github.com/sidtechnical/sidtechnical.github.io/blob/master/Blog_sid_pic.jpg?raw=true" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
 <!-- <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2> -->
  <div id="bio" align="justify">
    <p>I am Sid, a security and crypto lover, Free and Open Source Software (FOSS) Enthusiast, Traveller, Foodie.<br> <br> <br> I blog about various aspects of security/privacy and openness of the web in the modern Internet world.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
