<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="olAZsKMDlDG1JZxIeYylfmKdhMEDiXFtQZlsaKlA_Oo" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sid Rao - {{ page.title }}</title>
  <meta name="author" content="Sid Rao" />
  <meta name="description" content="blog on various aspects of technology (FOSS, security, privacy) and society (open web, digital freedom)" />
  
  <link rel="canonical" href="http://www.privacypies.org{{ page.url | replace:'index.html','' }}" />

  <link href="//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="Sid Rao's Blog" href="{{site.url}}/atom.xml" />

  <link rel="stylesheet" href="https://raw.githubusercontent.com/filamentgroup/tablesaw/master/dist/tablesaw.css">
  <script src="https://raw.githubusercontent.com/filamentgroup/tablesaw/master/dist/tablesaw.js"></script>
  <script src="https://raw.githubusercontent.com/filamentgroup/tablesaw/master/dist/tablesaw-init.js"></script>
  <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/balloon.css">
  
  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
          }
        });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% if site.github %}
    <link rel="stylesheet" href="/css/site.css?sha={{ site.github.build_revision }}">
  {% else %}
    <link rel="stylesheet" href="/css/site.css">
  {% endif %}
</head>
<body>
  <section>
    {{ content }}
  </section>

</body>
</html>
